<widgetbot
  server="601138127754625029"
  channel="601142655816040471"
  width="800px"
  height="95vh"
  shard="https://disweb.deploys.io"
></widgetbot>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
